{% load static heroicons tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex w-screen h-screen bg-slate-100 p-4">
    <aside class="grow basis-1/2 relative before:absolute before:inset-0 before:bg-black before:bg-opacity-60">
      <img src="{% static 'banner.jpg' %}" alt="" class="w-full h-full object-cover">
    </aside>
    <main class="grow basis-1/2 flex items-center justify-center bg-white">
      {% block content %}

      {% endblock %}
    </main>
    {% include 'components/messages.html' %}
  </body>
  {% block script %}

  {% endblock %}
</html>
