{% extends 'employee.html' %}

{% block content %}
  <section class="w-full grid gap-10 px-[4%] grid-cols-[repeat(auto-fill,minmax(20rem,1fr))]">
    {% for _ in '1234567890' %}
      <div class="h-10 rounded-md p-2 shadow-md flex items-center justify-start gap-2">
        <span class="text-xs font-bold text-slate-500">12 10, 2020</span>
        <i class="{% cycle 'text-green-400' 'text-red-400' 'text-red-400' %} ml-auto text-xs font-bold" style="font-variant: small-caps;">present</i>
      </div>
    {% endfor %}
  </section>
{% endblock %}
