{% extends 'student.html' %}

{% block content %}
  <section class="w-full rounded-md bg-cyan-600 p-10 flex items-center justify-between text-white shadow-md">
    <h2 class="text-xl font-bold">Course: {{ room.course.name }}</h2>
    <span class="text-lg font-bold">{{ attendances.count }}</span>
  </section>

  <section class="w-full mt-10 grid gap-10 px-[4%] grid-cols-[repeat(auto-fill,minmax(20rem,1fr))]">
    {% for assessment in assessments %}
      <form action="" method="post" class="p-2 rounded-md shadow-md flex flex-col gap-3">
        {% csrf_token %}

        <input type="hidden" name="assessment" value="{{ assessment.id }}" />
        <div class="flex flex-col gap-1">
          <span class="text-xs capitalize">question</span>
          <p class="text-sm text-slate-600">{{ assessment.assessment.question }}</p>
        </div>

        <div class="flex items-center gap-1">
          <span class="text-xs capitalize">score</span>
          <p class="text-xs text-slate-600">{{ assessment.score }}</p>
        </div>

        <div class="grow flex flex-col items-start gap-1">
          <label class="capitalize text-xs" for="start_date">answer</label>
          <textarea required name="answer" class="w-full h-20 text-sm rounded-md p-1 border-gray-400 resize-none" placeholder="Answer">{{ assessment.answer }}</textarea>
        </div>

        <button class="w-full py-1.5 text-center font-bold bg-gray-500 hover:bg-gray-800 text-white rounded transition-all mt-4">Submit</button>
      </form>
    {% endfor %}
  </section>
{% endblock %}
